<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Atata</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="container">
        <h1 class="text-center">@ViewBag.Title</h1>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
