<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Atata</title>

    <link rel="shortcut icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAoUlEQVQ4T2P8DwQMFADGUQMYMMNgdiYDw+c3DAxFqyFBu7mXgeHcFtRgVrNiYIhsBYuhGvD4KgPDkWUQxRo2DAyGngiNIINAwLcYxTBUAw4sgEjyizMwPLmGqpgoA0DO98hhYJDVZmDoC0V4A+YVvC4AOX8eUDMy8CtDeIOgC0DO//wW4Wx0DQQNADnfxA9hI8hFqxtQY4NgIJKRJ4ZBXgAALIBv0QcNxGwAAAAASUVORK5CYII=" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    @RenderSection("styles", false)
</head>
<body>
    <div class="container">
        <h1 class="text-center">@ViewBag.Title</h1>
        @RenderBody()
    </div>

    <script src="http://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="http://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    @RenderSection("scripts", false)
</body>
</html>
